﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiveEcoMap</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/mdl/material.css">
    <script src="/mdl/material.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LiveEcoMap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Test">Пройти тест</a>
                        </li>
                        <li class="nav-item">
                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Map">Карта</a>
                        </li>
                        <li class="nav-item">
                            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Account">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Проектная смена       <a class="mdl-button mdl-js-button mdl-button--accent" style="text-decoration: none" href="https://leader-id.ru/event/29540/">Практики будущего</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
