﻿@using Microsoft.AspNetCore.Identity
@using Models.Entities;
@inject SignInManager<EcoUser> SignInManager
@inject UserManager<EcoUser> UserManager

<link rel="stylesheet" href="/mdl/material.css">
<script src="/mdl/material.js"></script>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="margin-left: 10px;">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="text-decoration: none;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item" style="margin-left: 10px;">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Test", "Home", new { area = "" })">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item" style="margin-left: 10px;">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="text-decoration: none;" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
          
        </li>
        <li class="nav-item" style="margin-left: 10px;">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="background-color: green; text-decoration: none;" asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </li>
    }
</ul>
