﻿@{
    ViewData["Title"] = "Account";
}
@Model Models.Entities.EcoUser;

<link rel="stylesheet" href="/mdl/material.css">
<script src="./mdl/material.js"></script>

<style>
    .demo-card-square.mdl-card {
        width: auto;
        height: auto;
    }

    .demo-card-square > .mdl-card__title {
        color: #fff;
        background: bottom right 15% no-repeat #46B6AC;
    }
</style>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">
            <div class="u-photo" /> <img alt="profile photo" border="50" />
            <div class="u-nick" Вы: @Model.NickName</div>
            <div class="u-rating" Рейт: @Model.Rating</div>

        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="u-markers-list">


            <span class="mdl-chip">
                <span class="mdl-chip__text">Здравстуйте, @Model.NickName Ваш рейтинг: @Model.Rating</span>
            </span>

            <table class="mdl-data-table--selectable" border="1" cellpadding="10" id="tblNews">
                <tr>
                    <th align="center">

                        Координаты
                    </th>

                    <th align="center">
                        Комментарий
                    </th>

                    <th align="center">
                        Категория
                    </th>

                    <th align="center">
                        Статус
                    </th>

                    <th align="center">
                        Подтвердило
                    </th>
                </tr>

                @foreach (Models.Entities.Marker m in Model.Markers)
                {
                    int quantity_of_plus = m.MarkerUsers.Count();
                    string WorkStatus;
                    switch (m.MarkerState.Code)
                    {

                        case 1:
                            WorkStatus = "Плохо";
                            break;

                        case 2:
                            WorkStatus = "В разработке";
                            break;

                        case 3:
                            WorkStatus = "Хорошо";
                            break;

                        default:
                            WorkStatus = "None";
                            break;
                    }
                    <tr>
                        <td align="center">
                            
                            @Html.DisplayFor(modelItem => m.PointLatitude)
                            @Html.DisplayFor(modelItem => m.PointLongitude)
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => m.Description)
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => m.MarkerCategory.Title)
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => WorkStatus)
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => quantity_of_plus)
                        </td>
                    </tr>

                }
            </table>

        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border" align="center">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            logout
        </a>
    </div>
</div>
