﻿<title> Get ECO!</title>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/mdl/material.css">
<script src="/mdl/material.js"></script>

<style>
    .demo-card-wide.mdl-card {
        width: 618px;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: var(--image) center no-repeat;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    .demo-card-image.mdl-card {
        width: 256px;
        height: 256px;
        background: var(--image) center no-repeat;
    }

    .demo-card-image > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
    }

    .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
</style>


<div class="demo-card-wide mdl-card mdl-shadow--2dp" style=" margin: auto auto;" >
    <div class="mdl-card__title" style="--image:url(/img/landingcard.jpg)">
        <h2 class="mdl-card__title-text" style="font-weight:900">Life In Da Trash</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Экологическая проблема - одна из основных в современном мире.
        Ее источник - общество и его влияние на природу. Выброшенный вне урны пластик одного человека складывается в огромную свалку неразлагающего мусора,
        которая является проблемой уже общества.
    </div>

    <div class="mdl-card__supporting-text">
        Влияние на экологию оказывает каждый. Степень этого влияния оценивается в такой единице, как экологический след.
        Что лично Вы можете изменить, чтобы сделать что-то хорошее для экологии? Мы предлагаем оценить ваш экологический след с
        помощью нашего теста и подумать, какие из наших рекомендаций подойдут именно вам.
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="background-color: darkblue; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Test">
            Пройти тест
        </a>
    </div>
</div>

<div>
    <ul>
        <li style="display: inline-block; float: left; margin-right: 15px;">
            <div class="demo-card-image mdl-card mdl-shadow--2dp" style=" --image:url('/img/oboitut.com_1492014036 (2).png'); background-size:cover;">
                <div class="mdl-card__title mdl-card--expand">
                </div>
                <div class=mdl-card__actions>
                    <a href="https://www.un.org/sustainabledevelopment/ru/sustainable-development-goals/"><span class="demo-card-image__filename">Цели в области устойчивого развития ООН</span></a>
                </div>
            </div>
        </li>
        <li style="display: inline-block; float: left; margin-right: 15px;">
            <div class="demo-card-image mdl-card mdl-shadow--2dp" style="--image:url('/img/oboitut.com_1492014036.png'); background-size:auto;">
                <div class="mdl-card__title mdl-card--expand">
                </div>
                <div class=mdl-card__actions>
                    <a href="https://www.un.org/sustainabledevelopment/ru/takeaction/">
                        <span class="demo-card-image__filename">Руководство по спасению мира для лентяев</span>
                    </a>
                </div>
            </div>
        </li>
        <li style="display: inline-block; float: left; margin-right: 15px;">
            <div class="demo-card-image mdl-card mdl-shadow--2dp" style="--image:url('/img/e6f932b9ccd6ce8895e2394fd1042cf3.png');">
                <div class="mdl-card__title mdl-card--expand">
                </div>
                <div class=mdl-card__actions>
                    <a href="~/img/Eco_tips_wwf.pdf">
                        <span class="demo-card-image__filename">
                            Простые экологические советы <br />
                            для повседневной жизни
                        </span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>